body, html {
    padding:0px;
    margin: 0px;
    
  }
  body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
      background-color: black;
      color: #a1e7f0;
  }